body {
		padding: 0;
		font-family: sans-serif;
		font-size: 18px;
		line-height: 150%;
		width: 960px;
   	 	border: 150px;
    	padding: 5px;
		border-color: #ffffff;
		border-width: 20px;
    	background-color: #cccccc;
}

h2 {
	float: left;
	font-family: 'Georgia', Times, serif;
	font-size: 30px;
	color: #4aaaa5;

}

img.pic {
	padding-left: 20px;
	padding-top: 20px;
}

aside {
		padding-right: 25px;
		float: right;
		width: 22%;
		background-color: #ffffff;
}

}
article {
	width: 200px;
    padding: 5px;
    margin: 5px;
	border-color: #ffffff;
	text-align: left;
	float: right;
	width: 300px;
}

h1 {
		color: #4aaaa5;
		font-family: 'Georgia', Times, serif;
		text-align: left;
		font-size: 40px;
}

p, {
		color: #777777;
   		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
   		text-align: left;
   		float: right;
   		width: 300px;
   		padding-left: 10px;
}

nav {
	float: right;
}


h3 {
		color: #4aaaa5;
		font-family: 'Georgia', Times, serif;
}

header {
		background-color: #ffffff;
		border-color: #cccccc;
		padding: 10px;
		clear: left;
		float: left;
		width: 100%
}

footer {
		background-color: #666666;
		clear: both;
		padding: 5px;
		text-align: center;
}

input[type=text], select, textarea {
    	width: 100%; 
    	padding: 12px; 
    	border: 1px solid #ccc; 
    	border-radius: 4px; 
    	box-sizing: border-box; 
    	margin-top: 6px; 
    	margin-bottom: 16px; 
  		resize: vertical;
}
